.head{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.form-select{
  height: 40px;
  width: 60%;
}
.dropdown{
  width: 40%;
  display: flex;
  align-items: center;
}
.teaching{
  display: flex;
  justify-content: space-around;
}