/* AddLibraryBooksCSS.css */

.add-book-container {
  width: 100%;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 10px;
}

.add-book-form-container {
  margin-top: 20px;
}

.add-book-form-container h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

.add-book-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%; /* Make each form group take about half the container width, with some spacing */
  min-width: 200px; /* Ensure a minimum width to keep layout from breaking on very small screens */
}

.form-group label {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.form-group input[type="file"] {
  padding: 3px;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
  outline: none;
}

.button-right {
  text-align: right;
  width: 100%; /* Ensure the button spans full width */
  margin-top: 15px; /* Add some space above the button */
}

.button-right button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-right button:hover {
  background-color: #0056b3;
}
