.admission-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(238, 239, 245, 0.938);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: grid;
  gap: 15px;
  width: 1170px;
}
.flex{
  display: flex;
  justify-content: space-between;
  width: 15%;
}
label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid rgb(199, 208, 240);
  border-radius: 4px;
}

input[type="date"] {
  padding: 8px;
}

.droplist {
  width: 100%;
  padding: 8px;
  border: 2px solid rgb(199, 208, 240);
  height: 50px;
  border-radius: 4px;
  margin-top: 5px;
}

.admission-form h2 {
  color: rgb(29, 29, 161);
  text-align: center;
  border: 2px solid rgb(197, 152, 152);
  border-radius: 10px;
  overflow: hidden;
  margin: 15px 0;
  padding: 10px;
}

.gender-label {
  display: flex;
  gap: 10px;
}

.gender-radio {
  display: flex;
  align-items: center;
}

.gender-radio input[type="radio"] {
  margin-right: 5px;
}

.custom-text-field .MuiInputLabel-root {
  color: black;
}

.custom-text-field .MuiInput-underline:before,
.custom-text-field .MuiInput-underline:after {
  border-bottom: none;
}

.custom-text-field .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: transparent;
}
